[defaults]
inventory = ./inventory.yml
host_key_checking = False
interpreter_python = auto_silent
inject_facts_as_vars = False
retry_files_enabled = False
local_tmp = ./.ansible/tmp

[privilege_escalation]
# 这一章默认仍然不全局提权，目的是让你更清楚地看到“哪里显式写了 become，哪里没有写”。
become = False
become_method = sudo
become_ask_pass = False
