[defaults]
inventory = ./inventory.yml
host_key_checking = False
interpreter_python = auto_silent
inject_facts_as_vars = False
retry_files_enabled = False
local_tmp = ./.ansible/tmp
# `vault_identity_list` 指向本地密码文件，并给它起一个名字 `default`。
# 这样 `ansible-playbook` 运行时会自动拿这个密码文件去解密 `vault.yml`；
# 如果没有这个文件，或者里面的密码不对，那么 `vault.yml` 就无法被解密成运行时可用的明文变量。
# 需要手动加密时，也可以直接执行 `ansible-vault encrypt --encrypt-vault-id default vault.yml`。
# 这一章里实际文件 `.vault_pass.txt` 是本地私有文件，不会提交到 Git。
vault_identity_list = default@./.vault_pass.txt

[privilege_escalation]
become = False
become_method = sudo
become_ask_pass = False
