[defaults]
inventory = ./inventory.yml
host_key_checking = False
interpreter_python = auto_silent
inject_facts_as_vars = False
retry_files_enabled = False
local_tmp = ./.ansible/tmp

[privilege_escalation]
# 这一章会编辑 /etc 下的配置文件，所以默认开启 become。
become = True
become_method = sudo
become_ask_pass = False
