[defaults]
inventory = ./inventory.yml
host_key_checking = False
interpreter_python = auto_silent
inject_facts_as_vars = False
retry_files_enabled = False
local_tmp = ./.ansible/tmp

[privilege_escalation]
# 这一章很多任务本身就和系统服务有关，所以 play 级默认开启 become，方便你观察“全局默认值”的写法。
become = True
become_method = sudo
become_ask_pass = False
